{% extends 'core/base.html' %}

{% block content %}
<h3 class="mb-4">Dashboard Overview</h3>

<div class="row">

    <div class="col-md-4">
        <div class="card card-custom p-3 text-center">
            <h5>Total Students</h5>
            <h2 class="text-primary">120</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-custom p-3 text-center">
            <h5>Total Employees</h5>
            <h2 class="text-success">25</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-custom p-3 text-center">
            <h5>Active Classes</h5>
            <h2 class="text-warning">15</h2>
        </div>
    </div>

</div>
{% endblock %}
